* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    font-size: 10px;
    font-family: Helvetica, sans-serif; 
    background-color: #545454;
}

#calculator { 
    width: 420px;
    height: 700px;
    background-color: #609eee;
    margin: 10px auto;
    border-radius: 10px;
    margin-top: 100px;
    padding-top: 50px;
}

#screen {
    justify-self: center;
    width: 320px;
    height: 80px;
    border: 1px solid black;
    background-color: #d9d9d9;
    font-size: 4.5rem;
    color: #545454;
    text-align: end;
    padding-right: 1rem; 
}

button {
    background-color: #346ab2;
    color: #fff;
    font-size: 3rem;
    border-radius: 10px;;
}

button:active {
    transform: translateY(-3px);
}

button:hover {
    background-color: #8bb2e6;
}

#keys {
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-template-columns: 80px 80px 80px 80px;
    justify-content: center;
    gap: 0.7rem;
    margin-top: 3.5rem;
}

#equals {
    grid-row: span 2;
}


#clear {
    color: #ff3131;
}

#equals {
    background-color: #ffde59;
}
